.container-servicios {
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container-servicios .imagen {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: auto;
}
.container-servicios .imagen .Celular {
  width: 600px;
  height: auto;
}
.container-servicios .imagen .M-G {
  position: absolute;
  width: 200px;
  height: auto;
  left: 100px;
  animation-name: megusta;
  animation-duration: 5s;
  transition: cubic-bezier(0.455, 0.03, 1.515, 0.955);
  animation-iteration-count: infinite;
}
.container-servicios .imagen .caja-b,
.container-servicios .imagen .caja-f {
  width: 600px;
  height: auto;
}
.container-servicios .imagen .caja-b {
  animation-name: caja;
  animation-duration: 3s;
  transition: ease;
  animation-iteration-count: infinite;
}
.container-servicios .imagen .caja-f {
  position: absolute;
}
.container-servicios .texto-content {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.container-servicios .texto-content .boton-serv {
  margin-top: 5px;
  width: auto;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "colegas-bold";
  color: white;
  font-size: 20px;
  border-radius: 20px;
  background: none;
  border: 2px white solid;
  transition: 0.3s ease-out;
  outline: none;
}
.container-servicios .texto-content .boton-serv:hover {
  box-shadow: rgba(0, 0, 0, 0.308) 5px 5px 0;
  transform: translateY(-5px);
}
.container-servicios .texto-content svg {
  width: 500px;
  height: auto;
}
.container-servicios .texto-content p {
  margin-top: 25px;
  color: rgba(255, 255, 255, 0.842);
  font-family: "colegas-regular";
  width: 80%;
}

@keyframes megusta {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  25% {
    transform: translateY(-10px) translateX(5px);
  }
  50% {
    transform: translateY(-10px) translateX(-10px);
  }
  75% {
    transform: translateY(-20px) translateX(5px);
  }
  100% {
    transform: translateY(0px) translateX(0px);
  }
}
.Drop_x0020_Shadow {
  fill: none;
}

.Outer_x0020_Glow_x0020_5_x0020_pt {
  fill: none;
}

.Blue_x0020_Neon {
  fill: none;
  stroke: #8aacda;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.Chrome_x0020_Highlight {
  fill: url(#SVGID_1_);
  stroke: #ffffff;
  stroke-width: 0.3629;
  stroke-miterlimit: 1;
}

.st0 {
  fill: #ffffff;
}

@keyframes caja {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@font-face {
  font-family: "colegas-book";
  src: url("/GT-Sectra-Book.ccf3177f.woff");
}
@font-face {
  font-family: "colegas-bold";
  src: url("/f37ginger-bold-webfont.f6539da1.woff");
}
@font-face {
  font-family: "colegas-regular";
  src: url("/f37ginger-regular-webfont.36e4c6cd.woff");
}
.pestana {
  width: 200px;
  height: auto;
  position: fixed;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.1, 0.3, 0.2, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pestana .logo-2 {
  width: 200px;
  margin-top: 30px;
  margin-left: 50px;
  transition: 2s ease-out;
  opacity: 1;
}
.pestana .logo-1 {
  width: 70px;
  margin-top: 10px;
  margin-left: 10px;
  opacity: 0;
  transition: 2s ease-out;
  display: none;
}

body {
  margin: 0px;
  padding: 0px;
  transition: 0.3s ease-out;
  font-family: "colegas-regular";
  transition: all 500ms;
  will-change: background;
}

html[data-scroll="0"] body {
  background-color: #000 !important;
}
html[data-scroll="0"] .pestana {
  margin-top: 30px !important;
  width: 100%;
  height: 55px;
}
html[data-scroll="0"] .pestana .logo-2 {
  opacity: 0;
  display: none;
}
html[data-scroll="0"] .pestana .logo-1 {
  display: block;
  opacity: 1;
}
html[data-scroll="0"] .container .inicio {
  background-image: url("/fondo-home-01.ed2553e7.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
html[data-scroll="0"] .container .inicio .texto-titulo .colegas {
  opacity: 1;
}
html[data-scroll="0"] .container .inicio .texto-titulo p {
  opacity: 1;
}
html[data-scroll="0"] .container .inicio .estatua {
  opacity: 1 !important;
}
html[data-scroll="0"] .container .Que-es {
  opacity: 0;
}

h1 {
  font-family: "colegas-bold";
  transition: 0.3s;
  font-size: 42px;
  text-align: center;
  line-height: 1.2em;
  letter-spacing: -0.04em;
  opacity: 1;
}

p {
  font-size: 16px;
  line-height: 1.7em;
  letter-spacing: -0.02em;
  font-family: "colegas-Regular";
}

.container .inicio {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.container .inicio .texto-titulo {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transform: translateX(-50px);
  flex-direction: column;
}
.container .inicio .texto-titulo .colegas {
  width: 500px;
  opacity: 0;
}
.container .inicio .texto-titulo p {
  margin-left: 22%;
  margin-right: 10%;
  color: #c3c3c3;
  opacity: 0;
  transition: 1s ease-out;
}
.container .inicio .estatua {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0;
  transition: 0.5s ease-out;
}
.container .inicio .estatua .Busto {
  width: 100%;
  position: absolute;
  transition: 0.3s ease-out;
}
.container .inicio .estatua:hover .B2 {
  transform: translateX(0px) translateY(-25px);
}
.container .inicio .estatua:hover .B3 {
  transform: translateX(0px) translateY(-50px);
}
.container .Que-es {
  height: 800px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .Que-es h1 {
  margin-left: 30%;
  margin-right: 30%;
  color: white;
  z-index: 2;
}
.container .Que-es p {
  color: #ebebeb;
  margin-top: 0px;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  z-index: 2;
}
.container .Que-es .Busto2 {
  background-image: url("/busto-rojo.b38f011e.png");
  position: absolute;
  width: 400px;
  height: 650px;
  background-size: cover;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  mix-blend-mode: multiply;
  z-index: 1;
}
.container .Servicios {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .Servicios .container-serc {
  background-color: #2d004d;
  height: 100px;
  width: 100px;
}

@keyframes spin {
  0% {
    transform: translateY(0px) translateX(-10px);
  }
  50% {
    transform: translateY(10px) translateX(5px);
  }
  100% {
    transform: translateY(0px) translateX(-10px);
  }
}
.trabajos-recientes {
  height: 110vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trabajos-recientes h1 {
  position: absolute;
  font-size: 100px;
  color: white;
  line-height: 0.9em;
}

.pre-footer {
  height: 400px;
  width: 100%;
  background-color: whitesmoke;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  height: 50px;
}
footer .derechos {
  font-size: 14px;
  font-family: "colegas-regular";
  margin-left: 100px;
}
footer .redes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 100%;
  margin-right: 100px;
}
footer .redes .ico {
  width: 25px;
  height: auto;
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */